<!DOCTYPE html>
<html>
<head>
  <title>TestDemo</title>
  <% cache do %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
  <% end %>
</head>
<body>
<%= render 'layouts/header' %>
	<% flash.each do |name, msg| %>
			<% if msg.is_a?(String) %>
				<script type="text/javascript">					
					swal("Good job!", "<%= msg %>", "<%= name.to_s == "notice" ? "success" : "danger" %>")
				</script>
			<% end %>
	<% end %>
	<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
